# Miscellaneous
*.class
*.log
*.pyc
.DS_Store

# Flutter/Dart
.dart_tool/
.pub/
build/
**/doc/api/
**/ios/Flutter/Generated.xcconfig
**/.flutter-plugins
**/.packages
**/.pub-cache/

# Android
/android/app/debug
/android/app/profile
/android/app/release
